.loader {
    width: 36px;
    height: 36px;
	background-image: url('./assets/loading.png');
    background-size: cover;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}